.idea
.idea/*
.classpath
.project
.metadata
.recommenders
.settings
*/.gitignore
RemoteSystemsTempFiles/*
target/*
Servers/*
*/dist
*/bin
*/build
*/target
*/.settings
*.class
*~
*.lock
*.DS_Store
*.swp
*.out
*.log*
mb-core.iml
/target

